{% extends "app_profile/layout/base.html" %}
<!-- Content Here -->
<div class="pojok-kanan">

{% block content %}
<div class="container">
  {% if user_login %}
  <div class = "top">
    <div class="welcome">
      <h2> Selamat Datang, {{author}} </h2>
    </div>
    <div class = "prof-pict">
      <img class="cover" src="{{user_login.imageUrl}}" alt="3x4">
    </div>
  </div>
  {% endif %}
  <div class="button-section">
     <div class="forum-button">
       <div class="btn btn-warning">Lihat Forum</div>
     </div>
     <div class="edit-button">
       <a href="{% url 'app:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
     </div>
     <div class="logout">
       <a href="{% url 'app:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')"> Logout </a>
     </div>
   </div>
 </div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a href="#teman" aria-controls="settings" role="tab" data-toggle="tab"> Teman </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% include 'app_profile/tables/profile.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            <!-- Apply the same here -->
            {% include 'app_profile/tables/riwayat.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="status">
            {% include 'app_profile/tables/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="teman">
            {% include 'app_profile/tables/cari.html' %}
        </div>
    </div>
</div>
{% endblock %}
